<html>
<%- include('../layouts/includes/head.ejs')%>
<%- include('../layouts/includes/navigation.ejs')%>
<body>
<main>
    <h1>total price: <%=totalPrice%></h1>
    <% if (prods.length > 0) { %>
    <%for (let product of prods) {%>
    <div>
        <article>
            <header>
                <h1><%=product.title%> (<%=product.quantity%>)</h1>
            </header>
            <div>
                <img alt="ghost" src="<%= product.imageUrl %>" />
            </div>
            <div>
                <h2><%= product.price %></h2>
                <p><%= product.description %></p>
            </div>
            <span><%=product.id%></span>
            <div>
                <a href="/products/<%=product.id%>">Details</a>
                <form action="/cart-delete-product/<%=product.id%>" method="post">
                    <button type="submit">Delete product from cart</button>
                    <input type="hidden" name="productId" value="<%= product.id %>" />
                </form>
            </div>
        </article>
    </div>
    <%}%>
    <%} else {%>
        <h1>No products, add something!</h1>
    <%}%>
</main>
</body>
</html>
