<html>
<%- include('../layouts/includes/head.ejs')%>
<%- include('../layouts/includes/navigation.ejs')%>
<main>
    <% if (orders.length <= 0) { %>
        <h1>Nothing there</h1>
    <% } else { %>
         <ul>
                 <%orders.forEach(order => {%>
                   <li>
                       <h1>#ID <%= order.id %></h1>
                       <span>quantity</span>
                       <span># type of products: <%= order.products.length %></span>
                       <ul>
                           <% order.products.forEach(item => { %>
                             <li>name of the product: <%= item.title %></li>
                             <li>amount of these items (<%= item.orderItem.quantity %>)</li>
                           <% }) %>
                       </ul>
                   </li>
                 <% }); %>
         </ul>
    <% } %>
</main>
</html>
