<html>
<%- include('../layouts/includes/head.ejs')%>
<%- include('../layouts/includes/navigation.ejs')%>
<main>
    <h1><%= product.title %></h1>
    <hr />
    <img src="<%= product.imageUrl %>">
    <div><%= product.price %></div>
    <p><%= product.description %></p>
    <form action="/cart" method="post">
        <button type="submit">Add to cart</button>
        <input type="hidden" name="productId" value="<%= product.id %>" />
    </form>
</main>
</html>
